<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel="stylesheet" href="http://bootswatch.com/superhero/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%=title%></h1>

  <div class="center">
    <form action="/" method="post">
      <label>Howl a Howl!</label>
      <textarea name="howl" rows="8" cols="40" maxlength="141"></textarea>
      <input type="submit" value="Enter your Howl!">
    </form>
  </div>
  <section>
      <% feed.forEach(function(item) { %>
        <p><%= item.howl %></p>
      <% }) %>
  </section>


  </body>
</html>
