<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel="stylesheet" href="http://bootswatch.com/superhero/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%=title%></h1>
    <form action="/" method="post">

  <section>
    <ul>
      <% feed.forEach(function(item) { %>
      <li><%= item.growl %></li>
    <% }) %>
    </ul>
    </section>

  <div>
    <label>Growl a growl!</label>
    <input type="text" name="growl">
    <input type="submit" value="Enter your growl!">
  </div>
  </form>

  </body>
</html>
