<!DOCTYPE html>
<html>
  <head>
    <title>Growler</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Growler</h1>
    <p>Welcome to Growler</p>
  </body>
</html>
